body,p,h1,h2,h3,h4,h5,h6{
  margin: 0;
}
.warp{
  width: 1200px;
  margin: 0 auto;
}
.mb-10{
  margin-bottom: 10px;
}
.w-300{
  width: 300px;
} 
.m-20{
  margin: 20px 0;
}
.pd-10{
  padding: 10px 0;
}
.pr-10{
  padding-right: 10px;
}
.mb-20{
  margin-bottom: 20px;
}
.pl-10{
  padding-left: 10px;
}
.ml-10{
  margin-left: 10px;
}
.cl-red{
  color: #E2231A;
  font-weight: 550;
}
.df-al{
  display: flex;
  align-items: center;
  justify-content: space-between;
  clear: both;
}
.plr-20{
  padding: 0 20px;
}
.df-sp{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box {
  padding: 20px;
  background-color: #fff;
  min-height: calc(100vh - 220px);
}