body,p,h1,h2,h3,h4,h5,h6{
  margin: 0;
}
ul li{
  list-style: none;
  padding: 0;
  margin: 0;
}
.warp{
  width: 1200px;
  margin: 0 auto;
}
.mb-10{
  margin-bottom: 10px;
}
.w-300{
  width: 300px;
} 
.m-20{
  margin: 20px 0;
}
.mlr-20{
  margin: 0 20px;
}
.pd-10{
  padding: 10px 0;
}
.pr-10{
  padding-right: 10px;
}
.mb-20{
  margin-bottom: 20px;
}
.pl-10{
  padding-left: 10px;
}
.mr-20{
  margin-right: 20px;
}
.mb-30{
  margin-bottom: 30px;
}
.ml-10{
  margin-left: 10px;
}
.pd-20{
  padding: 20px;
}
.cl-red{
  color: #E2231A;
  font-weight: 550;
}
.df-al{
  display: flex;
  align-items: center;
  justify-content: space-between;
  clear: both;
}
.plr-20{
  padding: 0 20px;
}
.df-sp{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pd{
  padding: 40px 40px 16px;
}
.ptb-15{
  padding: 15px 0;
}
.mt-20{
  margin-top: 10px;
}
.df-sub{
  display: flex;
  flex-direction: column;
  /* flex-wrap: nowrap; */
  justify-content: space-around;
  align-items: flex-start;
}
.ps-r{
  position: relative;
}
.none{
  display: none;
}